<div class="chat-header">
  <div class="chat-header-box">
  </div>
</div>

<div class="messages">
  <div class="messages-box1">
  </div>
  <div class="messages-box2">
  </div>
</div>

<div class="form">
  <div class="form-box">
  </div>
</div>